# Node.js dependencies
node_modules/

# Environment variables
.env

# macOS system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: VSCode settings
.vscode/

# Optional: Linux/OS temp files
*.swp
